01-criacao-de-temas-basico/*.log
01-criacao-de-temas-basico/wp-config.php
01-criacao-de-temas-basico/wp-content/advanced-cache.php
01-criacao-de-temas-basico/wp-content/backup-db/
01-criacao-de-temas-basico/wp-content/backups/
01-criacao-de-temas-basico/wp-content/blogs.dir/
01-criacao-de-temas-basico/wp-content/cache/
01-criacao-de-temas-basico/wp-content/upgrade/
01-criacao-de-temas-basico/wp-content/uploads/
01-criacao-de-temas-basico/wp-content/mu-plugins/
01-criacao-de-temas-basico/wp-content/wp-cache-config.php
01-criacao-de-temas-basico/wp-content/plugins/hello.php

01-criacao-de-temas-basico/.htaccess
01-criacao-de-temas-basico/license.txt
01-criacao-de-temas-basico/readme.html
01-criacao-de-temas-basico/sitemap.xml
01-criacao-de-temas-basico/sitemap.xml.gz

